.App {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-left: 5vw;
  background-image: url("./images/backgroundVector.jpg");
  background-size: cover;
}

#title {
  font-family: 'Raleway ', sans-serif;
  font-weight: lighter;
  font-size: 4vw;
}

.input {
  width: 3rem;
  padding-right: 7rem;
  height: 3vh;
  float: left;
}

td {
  padding-right: 7vw;
}

table {
  background: #dbdbdb;
  width: 90vw
}

thead th {
  background-color: #88CCF1;
  color: white;
  font-size: 1.25vw;
  font-weight: lighter;
}

td {
  background-color: white;
  font-size: 1vw;
  padding: 0.5vw;
  width: 27vw;
}

tr {
  margin-bottom: 50px;
}

#delete {
  width: 3vw;
}
